*/bin/*
*/bin/*/*
*/obj/*/*
*/obj/*
calcvar/parser.fs
calcvar/parser.fsi
calcvar/lexer.fs
.vscode/solution-explorer/*
calc/Parser.fsi
calc/Scanner.fs
calc/Parser.fs

microc/CLex.fs
microc/CPar.fs
microc/CPar.fsi
microc/*.out
microc/*.exe
microsml/msmlmachine.exe
microsml/FunPar.fsi
microsml/FunPar.fs
microsml/FunLex.fs
microsml/*.out
microsml/*.opt.out
calcvar/parser.fs
*/.vscode/solution-explorer/*

.fake
.ionide
Fun/.vs/*
**/*.o
**/*.obj
**/*.exe
Fun/FunPar.fs
Fun/FunPar.fsi
Fun/FunLex.fs
assembly/try11
assembly/nasm/linsimple
microc/*.exe.i64
microc/*.asm
microc/*.ins
expr/lr/exprlexer.fs
expr/lr/exprparser.fs
expr/lr/exprparser.fsi
expr/lr/exprparser.fsyacc.output
expr/lr/obj/*
microc/*.i64
assembly/*.i64
microsml/*.out
listc/*.out
listc/CPar.fs
listc/CPar.fsi
listc/CLex.fs
microc/example/*.out
microc/example/*.insx86
microc/example/*.ins
microc/example/*.exe
microc/example/*.asm
